.article-listing {
	margin: 0 -1em;
	
	.item {
		float: left;
		webkit-box-sizing: border-box;
		moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 1em;
		margin: 0 0 2em 0;

		a {	
			padding: 2.5em 1em 1em;
			display: block;
    		background: rgba(255,255,255,0.4);
    		color: rgba(0,0,0,0.5);
    		position: relative;

    		.date {
    			position: absolute;
    			top: 0.5em;
    			left: 0;
    			right: 0;
    			text-align: center;
    			font-size: 0.8em;
    			font-weight: 700;
    			color: $colour-primary;
    		}

    		&:hover {
    			text-decoration: none;
    		background: rgba(255,255,255,0.5);

    		}
		}

		@media screen and (min-width: $tablet) {
			width: 50%;
		}
	}
}