body {
	font-family: 'Source Sans Pro', sans-serif; // TODO Create variable & abstract
	font-size: 20px;
	line-height: 1.6em;
	background: #666;
	color: white;
	height: 100%;

	[hidden="hidden"],[hidden],[type="hidden"] {
	display: none;
	}

	.float-after {
		float: right;
	}

	.float-before {
		float: left;
	}
}