body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 1.6em;
	background: #666;
	color: white;
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-position: top;

	> section {
	  -moz-transition: 1s all;
	  -webkit-transition: 1s all;
  	  transition: 1s all;
		
		-moz-filter: blur(0px); 
		-webkit-filter: blur(0px); 
		-o-filter: blur(0px); 
		-ms-filter: blur(0px); 
		filter: blur(0px);
	}

	&.modal-active {
		overflow: hidden;

		> section {
			-moz-filter: blur(25px); 
			-webkit-filter: blur(25px); 
			-o-filter: blur(25px); 
			-ms-filter: blur(25px); 
			filter: blur(25px);
		}
	}

	&.sub-page,
	&.layout-sub-page,
	&.layout-splash {
		padding-top: 6%;
	}

	&.biography {
		background-color: $colour-quinary;
	}

	@media screen and (min-width: $tablet) {

	}

	[hidden="hidden"],[hidden],[type="hidden"] {
	display: none;
	}

	.float-after {
		float: right;
	}

	.float-before {
		float: left;
	}

	h2 {
		font-weight: 600;
		text-align: center;
		font-size: 3em;
		margin-bottom: 2rem;
		line-height: 1.3;
	}

	h2 + .byline,
	.pat-stacks + .byline,
	.navigation.tabs + byline {
		text-align: center;
		font-size: 1.5em;
		margin-top: -0.5em;
		margin-bottom: 1em;
		line-height: 1.5;
	}
}