body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 1.6em;
	background: #666;
	color: white;
	height: 100%;

	&.biography {
		background-color: $colour-quinary;
	}

	@media screen and (min-width: $tablet) {

	}

	[hidden="hidden"],[hidden],[type="hidden"] {
	display: none;
	}

	.float-after {
		float: right;
	}

	.float-before {
		float: left;
	}

	h2 {
		font-weight: 300;
		text-align: center;
		font-size: 3em;
		margin-bottom: 3rem;
	}

	h2 + .byline,
	.pat-stacks + .byline,
	.navigation.tabs + byline {
		text-align: center;
		font-size: 1.5em;
		margin-top: -0.5em;
		margin-bottom: 1em;
	}

	#pat-modal {
		h2 {
			font-size: 1.5em;
			margin-top: 1em;
			margin-bottom: 1em;
			text-align: left;
		}
	}
}