.global-nav {
	background: rgba(0,0,0,0.4);
	position: relative;
	// Override pat-bumper left value:
	left: 0 !important;
	z-index: 5;
	text-align: center;
	font-size: 1.3rem;
	padding: 0.5em 0;
	// transition: top 0.2s;

	// &.bumped {
	// 	position: fixed !important;
	// 	top: 0px !important;
	// 	right: 0;
	// 	left: 0;
	// }

	li {
		display: inline-block;
		padding: 0 1em;
    	color: rgba(255,255,255,0.4);

    	&.languages {
    		position: absolute;
			right: 50%;
			top: 4em;
			-moz-transform: translateX(50%);
			-webkit-transform: translateX(50%);
			transform: translateX(50%);

			a {
				width: 2.6em;
				height: 2.6em;
				margin: 0 0.3em;
				line-height: 2.6em;
				text-align: center;
				border: 1px rgba(255,255,255,0.6) solid;
				border-radius: 50%;

				&:hover {
					background-color: rgba(255,255,255,0.2);
				}

				&.current {
					background-color: rgba(255,255,255,0.6);
					color: rgba(0,0,0,0.4);
					border-color: transparent;
				}
			}
    	}
	}

	&.bumped {
		li {
			&.languages {
				right: 1%;
				top: 0.85em;
				font-size: 0.6em;

				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				transform: translateX(0);

			}
		}
	}

	a {
		display: inline-block;
		font-weight: 700;
    	color:  rgba(255,255,255,0.6);

    	&.current {
    		color: white;
    	}
	}
}

#home .global-nav {
	top: 50%;

	@media screen and (max-width: $tablet) {
		// disable bumper for cell phones (Not enough screen estate)
		top: 50% !important;
	}
}

.sub-page {
	.global-nav {
		li {
			&.languages {
				right: 1%;
				top: 0.85em;
				font-size: 0.6em;

				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				transform: translateX(0);
			}
		}
	}
}