.global-nav {

	background: #666;
	position: relative;
	top: 50%;
	text-align: center;
	line-height: 2.9rem;
	font-size: 1.3rem;

	li {
		display: inline-block;
		padding: 0 1em;
	}

	a {
		display: inline-block;
		font-weight: 700;
	}
}