html {
	height: 100%;
}

  @-webkit-keyframes xfade {
    0%{
      opacity: 0;
    }
    10% {
      opacity:1;
    }
    90% {
      opacity:1;
    }
    100% {
      opacity:1;
    }
  }

  @keyframes xfade {
    0%{
      opacity: 0;
    }
    10% {
      opacity:1;
    }
    90% {
      opacity:1;
    }
    100% {
      opacity:1;
    }
  }