img {

	&.float-before {
		margin-right: 2em;
	}

	&.float-after {
		margin-left: 2em;
	}
}

img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

figure {

}

.container .item img {
	margin-bottom: 1em;
}