img {

	&.float-before,&.float-after {
		float: none;
	}

	@media screen and (min-width: $tablet) {
		&.float-before {
			float: left;
			margin-right: 2em;
		}

		&.float-after {
			float: right;
			margin-left: 2em;
		}
	}
}

img {
	max-width: 100%;
	display: block;
	margin: 0 auto;

	&.hero {
		margin: 0 auto 3em;
	}
}

.container .item img {
	margin-bottom: 1em;
}