img {

	&.float-before {
		margin-right: 1em;
	}

	&.float-after {
		margin-left: 1em;
	}
}

.container img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.container .item img {
	margin-bottom: 1em;
}