.logo-cloud {
	text-align: center;
	padding: 1em 0 3em;

	img {
		@media screen and (min-width: $tablet) {
			display: inline-block;
			margin: 1em 1em;
		}
		@media screen and (max-width: $tablet) {
			display: block;
			margin: 3em auto;
		}

		height: 4em;
	}
}