.logo {
	
	&#site-logo {
		overflow: hidden;
		text-indent: -1000px;
		width: 400px;
		margin: -170px 0 0 -200px;
		height: 100px;
		background: url(logo.svg);
		background-size: 100%;
		background-repeat: no-repeat;
		position: absolute;
		left: 50%;
		top: 50%;

		@media screen and (min-width: $tablet) {
			width: 600px;
			height: 150px;
			margin: -170px 0 0 -300px;
		}
	}
}