#pat-modal,
#modal {
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 0 !important;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100% !important;
	z-index: 1000;
	overflow: auto;
	display: none;

	.panel-content {
		@include container();
	}

	.header {
		.close-panel {
			position: fixed;
			right: 1em;
			top: 1em;
			width: 5em;
			height: 5em;
			overflow: hidden;
			background: none;
			text-indent: -1000em;
			z-index: 1;

			&:before,
			&:after {
				text-indent: 0;
				position: absolute;
				background-color: white;
				content: ' ';
				width: 1px;
				height: 4em;
				left: 2em;
				top: 0;
				-moz-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}

			&:after {
				-moz-transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
	}
}

.modal-active {
	#modal,
	#pat-modal {
		display: block;
	}
}