p {
	margin: 0 0 1em 0;
    a {
        display: inline-block;
        font-weight: 700;
        color:  rgba(255,255,255,0.8);

        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}