.people-cloud {
	text-align: center;
	padding: 1em 0 0 0;
	font-size: 0.9em;
	line-height: 1.5em;

	.person {
		width: 25%;
		display: inline-block;
		margin: 0 1em;

		figcaption {
			text-align: center;
			font-style: italic;
		}

		img {
			margin-bottom: 1em;
			border-radius: 50%;
		}
	}
}