.people-cloud {
	text-align: center;
	padding: 2em 0 3em 0;
	font-size: 0.9em;
	line-height: 1.5em;

	.person {
		@media screen and (min-width: $tablet) {
			width: 25%;
			display: inline-block;
		}
		@media screen and (max-width: $tablet) {
			display: block;
			margin: 3em auto;
		}
		margin: 0 2em;

		figcaption {
			text-align: center;
			font-style: italic;

			strong {
				display: block;
				font-size: 1.4em;
				margin-bottom: 0.5rem;
			}
		}

		img {
			margin-bottom: 1em;
			border-radius: 50%;
		}
	}
}