section {

  .container {
    max-width: 1100px;
    padding: 4% 5%;
    margin: 0 auto;

    @include clear-floats(both);
  }

  &#home {
    background-color: $colour-tertiary;
    height: 100%;
  }

  &#services {
    background-color: $colour-primary;
  }

  &#careers {
    background-color: $colour-secondary;
  }

  &#news {
    background-color: $colour-tertiary;
  }

  &#projects {
    background-color: $colour-quaternary;
  }
}