section {
  min-height: 100%;

  .container {
    max-width: 1100px;
    padding: 7rem 5% 4rem;

    margin: 0 auto;
    position: relative;

    @media screen and (max-width: $tablet) {
      padding: 4rem 5%;
      top: 50% !important;
    }

    @include clear-floats(both);
  }

  &#home {
    background-color: $colour-tertiary;
    height: 100%;
  }

  &#services {
    background-color: $colour-primary;
  }

  &#careers {
    background-color: $colour-secondary;
  }

  &#news {
    background-color: $colour-tertiary;
  }

  &#projects {
    background-color: $colour-quaternary;
  }

  &#intranet-solutions {
    position: relative;
    height: 100%;
    background-color: white;
    color: gray;

    .pat-stacks {
      width: 100%;
      height: 100%;

      .item {
        width: 100%;
        height: 100%;

        &#intranet-solution-intro {
          .sidebar {
            padding-right: 0;
            padding-left: 8%;
          }
        }
      }
    }

    h2 {
      position: absolute;
      top: 7rem;
      left: 50%;
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      float: left;
    }

    a {
      color: black;
    }

    .sidebar {
      @include box-sizing();
      height: 100%;
      float: left;
      width: 40%;
      padding: 4rem 7% 0;

      .content {
        position: relative;
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);

        * {
          text-align: center;
        }
      }
    }

    .illustration {
      @include box-sizing();
      height: 100%;
      float: right;
      width: 60%;
      padding: 4rem 7% 0;
      
      img {
        max-width: 100%;
        position: relative;
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }

  &#people {
    background-color: $colour-quinary;
    @media screen and (min-width: $tablet) {
      p {text-align: center;}
    }
  }

  &.biography {
    article {
      margin-left: -1rem;  

      @media screen and (min-width: $tablet) {
        .main-content,
        .introduction {
            padding-left: 7rem;
        }
        -webkit-column-count: 2;
        -webkit-column-gap: 0em;
      }
    }

    @media screen and (min-width: $tablet) {
      h1 {
        padding-left: 6rem;
      }
    }
  }
}

.sub-page section .container {
    padding-top: 2.8rem;
}