.csspositionsticky {
  section {
    overflow: visible;
  }
}
section {
  overflow: hidden;
  min-height: 100%;

  .intro {
    font-weight: 100;
    font-size: 2em;
    line-height: 1.3;
  }

  .composite {
    position: relative;
    width: 100%;
    overflow: hidden;

    img {
      &.slide {
        z-index: 0;
      }      
      &.cover {
        z-index: 1;
        width: 100%;
        position: relative;
      }
    }

    &.laptop {
      margin-bottom: 2em;

      img {
        float: left;
        outline: none;
        
        &.slide {
          position: absolute;
          width: 71.8%;
          margin-top: 7.2%;
          left: 14.2%;            

          opacity: 0;

          -webkit-animation-name: xfade;
          animation-name: xfade;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
          -webkit-animation-duration: 3s;
          animation-duration: 3s;

          &:nth-child(1) {
            -webkit-animation-delay: 0;
            animation-delay: 0;
          }
          &:nth-child(2) {
            -webkit-animation-delay: 3s;
            animation-delay: 3s;
          }
          &:nth-child(3) {
            -webkit-animation-delay: 6s;
            animation-delay: 6s;
          }
          &:nth-child(4) {
            -webkit-animation-delay: 9s;
            animation-delay: 9s;
          }
          &:nth-child(5) {
            -webkit-animation-delay: 11s;
            animation-delay: 11s;
          }
          &:nth-child(6) {
            -webkit-animation-delay: 14s;
            animation-delay: 14s;
          }
          &:nth-child(7) {
            -webkit-animation-delay: 17s;
            animation-delay: 17s;
          }
          &:nth-child(8) {
            -webkit-animation-delay: 20s;
            animation-delay: 20s;
          }
        }
      }
    }
  }

  .subnav {
    z-index: 10;
    opacity: 0.9;
    background-color: #666;

    &.bumped {
      border-bottom: 1px white solid;

      &.sticky-supported {
        @media screen and (-webkit-min-device-pixel-ratio:0) {
          position: -webkit-sticky !important;
          position: sticky !important;
          top: 0.01em !important;
        }
      }
    }

    .tabs {
      padding: 0;
      &.container {
        padding: 0;
      }
      margin-bottom: -1px;
      border-bottom: 1px white solid;

      a {
        float: left;

        &.current {
          border-bottom: 0.2rem white solid;
          padding-bottom: 0;
        }

        &.icon {
          width: 1.3em;
          float: right;
          overflow: hidden;
          margin-right: 1em;
          white-space: nowrap;
          padding-left: 0;
          padding-right: 0;

          &:before {
            width: 1.5em;
            float: left;
            font-family: fontello;
            content: '\2302';
            opacity: 0.5;
          }
        }
      }
    }
  }

  .container {
    max-width: 1100px;
    padding: 7rem 5% 4rem;

    margin: 0 auto;
    position: relative;

    @media screen and (max-width: $tablet) {
      padding: 4rem 5%;
      top: 50% !important;
    }

    &.topics {
      padding-top: 0;

      .topic {
        padding: 3em 0 0 0;
        overflow: hidden;
      }
    }

    @include clear-floats(both);
  }

  &#home {
    background-color: $colour-tertiary;
    .navigation.tabs {
      background-color: $colour-tertiary;
    }
    height: 100%;
  }

  &#services,
  &#services .subnav {
    background-color: $colour-primary;
  }

  &#careers,
  &#careers .subnav {
    background-color: $colour-secondary;
  }

  &#news,
  &#news .subnav {
    background-color: $colour-tertiary;
  }

  &#projects,
  &#projects .navigation.tabs {
    background-color: $colour-quaternary;
  }

  &#intranet-solutions {
    // position: relative;
    // height: 100%;
    background-color: white;
    color: gray;
    padding-bottom: 4em;

    .subnav {
      background-color: white;

      a {
        &.current {
          border-bottom: 0.1em white solid;
          padding-bottom: 0.1em;
        }
      }

      &.bumped {
        border-bottom: 1px solid silver;

        .tabs {
          border-bottom: 1px solid silver;
        }
      }

      .tabs {
        border-bottom: 1px gray solid;
      }
    }

    .topics {
      .topic {
        &:nth-child(odd) {
          .sidebar {
            float: left;
          }
          .illustration {
            float: right;
          }
        }

        &.no-hero {
          columns-count: 2;
          column-gutter: 1em;
        }

        img {
          border: 1px solid silver;
          margin-bottom: 1em;
          max-width: 80%;
        }

        p > img {
          margin: 2em auto;
        }

        .illustration {
          position: relative;
          // float: right;
          // width: 60%;

          img {
            margin-bottom: 2em;
            max-width: 100%;
          }
        }

      }
    }

    h2 {
      // position: absolute;
      // z-index: 4;
      // float: left;
      // font-size: 3em; 
      // top: 7rem;
      // left: 50%;
      // width: 100%;
      // -moz-transform: translateX(-50%);
      // -webkit-transform: translateX(-50%);
      // transform: translateX(-50%);

      a {
        color: gray;

        &:hover {
          text-decoration: none;
          color: black;
        }

        // &:before {
        //   font-family: fontello;
        //   content: '\e4a1';
        //   float: left;
        //   margin-left: -1.5em;
        //   font-size: 0.7em;
        // }
      }
    }



    a {
      color: black;
    }
  }

  &#people,
  &#people .navigation.tabs {
    background-color: $colour-quinary;
    @media screen and (min-width: $tablet) {
      p {text-align: center;}
    }
  }

  &.biography {
    article {
      margin-left: -1rem;  

      @media screen and (min-width: $tablet) {
        .main-content,
        .introduction {
            padding-left: 7rem;
        }
        -webkit-column-count: 2;
        -webkit-column-gap: 0em;
      }
    }

    @media screen and (min-width: $tablet) {
      h1 {
        padding-left: 6rem;
      }
    }
  }
}

.sub-page section .container {
    padding-top: 2.8rem;
}