.pat-stacks {
	margin-bottom: 4em;
	.item {
		position: relative;

		.escape {
			position: absolute;
			top: 0;
			right: -0.4em;
			font-size: 1.5em;
		}
	}

	// > .hidden {
	// 	opacity: 0;
	// }

	> .visible {
	  -webkit-animation: bounceInLeft 0.5s;
	  animation: bounceInLeft 0.5s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	}

	> .visible#logos {
	  -webkit-animation: fadeIn 1s;
	  animation: fadeIn 1s;
	}
}