.tabs {
	text-align: center;
	margin-bottom: 2em;

	> a {
		display: inline-block;
		padding: 0.2rem 1em;
		// color: rgba(0,0,0,0.4);
		// font-weight: 700;

		&:hover,&.current {
			text-decoration: none;
			color: white;
		}
	}
}