<footer id="appendix">
      <div class="container">

<a href="https://twitter.com/syslabcom">Twitter</a>
<a href="https://www.linkedin.com/company/894239">LinkedIn</a>
<a href="https://www.xing.com/companies/syslab.comgmbh">Xing</a>
<a href="https://www.facebook.com/syslabcom">Facebook</a>


        <ul class="footer-links">
  {% for menu in site.appendix[page.lang] %}
    <li><a href="{{menu[1].url}}">{{menu[1].name}}</a></li>
  {% endfor %}
        </ul>

© 2015 Syslab.com GmbH

      </div>
</footer>
