<ul class="global-nav navigation pat-bumper">
	<li class="topics">
		<!-- <a {% if page.url == '/index.html' %}data-scroll{% endif %} href="{% unless page.layout == 'index.html' %}/index.html{% endunless %}#home">Syslab</a>
		= -->
		<a {% if page.url == '/index.html' %}data-scroll{% endif %} href="{% unless page.layout == 'index.html' %}/index.html{% endunless %}#intranet-solutions">Social intranet</a>
		and other
		<a {% if page.url == '/index.html' %}data-scroll{% endif %} href="{% unless page.layout == 'index.html' %}/index.html{% endunless %}#services">Web solutions</a>
		 created by
      	<a {% if page.url == '/index.html' %}data-scroll{% endif %} href="{% unless page.layout == 'index.html' %}/index.html{% endunless %}#people">Passionate people</a>
  	</li>
  	<li class="languages">
		<a href="" class="current">EN</a>
		<a href="">DE</a>
  	</li>
</ul>