<ul class="global-nav navigation pat-bumper">
	<li>
  		<a href="{% unless page.layout == 'index.html' %}/index.html{% endunless %}#services">Services</a> and
      <a href="{% unless page.layout == 'index.html' %}/index.html{% endunless %}#projects">Projects</a> with
      <a href="{% unless page.layout == 'index.html' %}/index.html{% endunless %}#opensource">Open source</a> technology
  	</li>
  	<li>
  		<a href="{% unless page.layout == 'index.html' %}/index.html{% endunless %}#news">News</a>
  	</li>
  	<li>
		<a href="{% unless page.layout == 'index.html' %}/index.html{% endunless %}#careers">Careers</a>
	</li>
</ul>