---
layout: shell
---

<section id="home">
	<h1 class="logo" id="site-logo">Syslab.com</h1>
	<p id="first-scroll" class="lid-opener">
		<a href="#opensource">Jump to content</a>
	</p>
	{% include global-nav.html %}
</section>

<section id="opensource">
	<div class="container">
		<h2>Open source</h2>
	  		{% for item in site.categories['opensource'] %}
	  			{{ item.content }}
	  		{% endfor %}
	</div>
</section>

<section id="services">
	<div class="container introduction">
		<h2>Services</h2>
	  	<!-- <p class="introduction">SYSLAB.COM provides services for companies, organisations and governmental institutions within the whole software lifecycle.</p> -->

	  	<nav class="navigation tabs">
	  		{% for item in site.categories['services'] %}
	  			<a href="#{{ item.id | remove: '/' }}">{{ item.title }}</a>
	  		{% endfor %}
	  	</nav>
  		<div class="pat-stacks">
	  		{% for item in site.posts %}
	  			<div class="item" id="{{ item.id | remove: '/' }}">
	  				{{ item.content }}
	  			</div>
	  		{% endfor %}
  		</div>
	</div>
</section>

<section id="projects">
	<div class="container">
		<h2>Projects</h2>
		<nav class="navigation tabs">
			<a href="#star">Star Alliance</a>
			<a href="#thorn">Thorn</a>
			<a href="#bildergut">Bildergut</a>
			<a href="#denso">Denso</a>
			<a href="#osha">Osha</a>
			<a href="#recensio">Recensio</a>
			<a href="#unibw">Unibw</a>
		</nav>
		<div class="pat-stacks">
			<div class="item" id="star">
				<div class="description">
					<h3>Stardesk</h3>
					<img src="media/Portfolio-Syslab-Stardesk.jpg" alt="Portfolio image for Stardesk" />
				</div>
			</div>
			<div class="item" id="thorn">
				<div class="description">
					<h3>Thorn Lighting</h3>
					<p>
						Supporting the internal development team in the relaunch of the Thorn Lightning site. Special focus was placed on multilingual features supporting as many as 27 country sites and 25 languages as well as on search optimisations. <a href="http://www.thornlighting.com/" title="Thorn Lighting website">Thorn Lighting</a>
					</p>
				</div>
				<img src="media/Portfolio-Syslab-Thorn.jpg" alt="Portfolio image for Thorn" />
			</div>
			<div class="item" id="bildergut">
				<div class="description">
					<h3>Bildergut</h3>
					<p>
						Bildergut aims at creating a distinctive style using digital means. The website features hi-res images backed by a CMS for quick update and support for fullscreen and mobile. <a href="http://www.bildergut.com" title="Bildergut website">Bildergut</a>
					</p>
				</div>
				<img src="media/Portfolio-Syslab-Bildergut.jpg" alt="Portfolio image for Bildergut" />
			</div>
			<div class="item" id="osha">
				<div class="description">
					<h3>OSHA Campaign website</h3>
					<p>
      					The European Agency for Safety and Health at Work has chosen the internet as its primary means to disseminate information. We facilitate that on several platforms including CMS, Wiki, campaign sites and communication tools. <a href="http://hw2012.healthy-workplaces.eu" title="Healthy Workplaces website">Healthy Workplaces</a>
					</p>
				</div>
				<img src="media/Portfolio-Syslab-Osha-hw2012-2.png" alt="Portfolio image for Osha" />
			</div>
			<div class="item" id="recensio">
				<div class="description">
					<h3>recensio.net</h3>
					<p>
						A Europe-wide, multi-language platform for reviews of historical literature supporting humanities scholars to communicate in the digital future. (Supported by DFG, Bayerische Staatsbibliothek, Leibniz-Institut für Europäische Geschichte Mainz and Universität zu Köln). <a href="http://www.recensio.de" title="Recensio website">Recensio</a>
					</p>
				</div>
				<img src="media/Portfolio-Syslab-Recensio-1.jpg" alt="Portfolio image for Recensio" />
			</div>
			<div class="item" id="denso">
				<div class="description">
					<h3>DENSO CMR Database</h3>
					<p>
					To track, present, approve and manage changes in the production cycle we have created an intranet based Change Management System in close cooperation with the Denso QA personnel. The solution allows distributed access to all relevant information at any time.
					</p>
				</div>
				<img src="media/Portfolio-Syslab-Denso.png" alt="Portfolio image for Denso" />
			</div>
			<div class="item" id="unibw">
				<div class="description">
					<h3>Universität der Bundeswehr</h3>
					<p>
					SYSLAB.COM provides technical support to The University of the Federal Armed Forces Munich (UniBwM) on 176 CMS portals. <a href="http://www.unibw.de" title="Universität der Bundeswehr website">UniBW</a>
					</p>
				</div>
				<img src="media/Portfolio-Syslab-UniBW.png" alt="Portfolio image for UniBW" />
			</div>
		</div>
		<h2>Small and big</h2>
		<p class="byline">
			We shape the web for businesses and organisations.
		</p>
		<p class="logo-cloud">
			<img src="/media/logos/bayerische-Staatsbibliothek.svg" alt="" />
			<img src="/media/logos/bundesanstalt-fuer-arbeitsschutz-und-rbeitsmedizin.svg" alt="" />
			<img src="/media/logos/denso.svg" alt="" />
			<img src="/media/logos/enisa.svg" alt="" />
			<img src="/media/logos/iabg.svg" alt="" />
			<img src="/media/logos/osha.svg" alt="" />
			<img src="/media/logos/oira.svg" alt="" />
			<img src="/media/logos/signet-unibw.svg" alt="" />
			<img src="/media/logos/star-alliance.svg" alt="" />
			<img src="/media/logos/thorn.svg" alt="" />
			<img src="/media/logos/tu-muenchen.svg" alt="" />
			<img src="/media/logos/zeiss.svg" alt="" />
		</p>
	</div>
</section>

<section id="news">
	<div class="container">
		<h2>News</h2>
		<p>
			<img src="media/reporter-dp.svg" class="hero" alt="Newsflash" class="illustration" />
		</p>
		<div class="article-listing">
<!--
			<article class="item">
				<a href="#">
					<h3>
						Escapémonos por necesidad
					</h3>
					<p class="date">
						<time>10 August 2014</time>
					</p>
					<p>
						Last Friday, a group of 31 Plone developers and companies located around the world undertook one of the largest Plone Tune-Ups ever.
					</p>
				</a>
			</article>
			<article class="item">
				<a href="#">
					<h3>
						Nos debemos tanto
					</h3>
					<p class="date">
						<time>10 August 2014</time>
					</p>
					<p>
						Last Friday, a group of 31 Plone developers and companies located around the world undertook oneLast Friday, a group of 31 Plone developers and companies located around the world undertook one of the largest Plone Tune-Ups ever to celebrate the 60th time such an event has been held.
					</p>
				</a>
			</article>
			<article class="item">
				<a href="#">
					<h3>
						Si el amor está, no hay porqué esperar
					</h3>
					<p class="date">
						<time>10 August 2014</time>
					</p>
					<p>
						Various companies located around the world undertook one of the largest Plone Tune-Ups ever to celebrate the 60th time such an event has been held.
					</p>
				</a>
			</article>
			<article class="item">
				<a href="#">
					<h3>
						El donde o el cuando
					</h3>
					<p class="date">
						<time>10 August 2014</time>
					</p>
					<p>
						Last Friday, a group of 31 Plone developers and companies located around the world undertook one of the largest Plone Tune-Ups ever to celebrate the 60th time such an event has been held.
					</p>
				</a>
			</article>
			<article class="item">
				<a href="#">
					<h3>
						Consectetur
					</h3>
					<p class="date">
						<time>10 August 2014</time>
					</p>
					<p>
						Escapémonos tan lejos de aquí
						Distantes de todo
						En la oscuridad donde no haya más
						Que ver en tus ojos
					</p>
				</a>
			</article>
			<article class="item">
				<a href="#">
					<h3>
						60<sup>th</sup> Plone Tune-Up Closes Record Number of Tickets with Help of Global Participation
					</h3>
					<p class="date">
						<time>10 August 2014</time>
					</p>
					<p>
						Escondámonos de la multitud
						Del absurdo día a día
						Donde todas esas cosas que perturben
						No estén más en nuestras vidas, en nuestras vidas
					</p>
				</a>
			</article>
			<article class="item">
				<a href="#">
					<h3>
						Para que estemos solos amor
					</h3>
					<p class="date">
						<time>10 August 2014</time>
					</p>
					<p>

						Y el universo se nos quede en un abrazo
						Donde se esfumen esas dudas
						Y esos miedos que nos quedan del pasado
					</p>
				</a>
			</article>
			<article class="item">
				<a href="#">
					<h3>
						Para que estemos solos amor
					</h3>
					<p class="date">
						<time>10 August 2014</time>
					</p>
					<p>
						En un día sin fin
						Sin preocuparnos más
						Del que podrán decir
						Donde durmamos abrazados
						Y si entonces nos sorprende el amanecer
						Saber que estás ahí
						Que estamos solos
					</p>
				</a>
			</article>
-->

		</div>
		<script type="text/javascript">
var rssurl = 'http://www.syslab.com/blog/?cat=6&feed=rss2';
$(document).ready(function(){
  $.get(rssurl, function(data) {
    var $xml = $(data);
    $xml.find("item").slice(0,6).each(function() {
        var $this = $(this),
            item = {
                title: $this.find("title").text(),
                link: $this.find("link").text(),
                description: $this.find("description").text().substring(0, 100) + "…",
                D: $this.find("pubDate").text().split(' '),
                author: $this.find("author").text()
        };
        //Do something with item here...
        $('.article-listing').append(
          '<article class="item"><a href="' + item.link + '">'
          + '<h3>' + item.title + '</h3>'
          + '<p class="date"><time>' + item.D[1] + ' ' + item.D[2] + ' ' +  item.D[3] + '</time></p>'
          + '<p>' + item.description + '</p>'
          + '</a></article>');
    });
  });
});

		</script>
	</div>
</section>
<section id="people">
	<div class="container">
		<h2>People</h2>
		<p class="byline">
			The people behind Syslab.com
		</p>
		<div class="people-cloud">
	  		{% for item in site.categories['people'] %}
				<figure class="person">
					<img src="/media/avatar-{{ item.id | remove: '/' }}.jpg" alt="" />
					<figcaption>
						<strong>{{ item.title }}</strong> {{ item.summary }}
					</figcaption>
				</figure>
	  		{% endfor %}
		</div>
        <p class="byline">…plus a team of highly skilled and open-source devoted developers, designers and administrators</p>
	</div>
</section>
<section id="careers">
	<div class="container">
		<h2>Careers</h2>
		<!-- <img src="media/Careers2.png" alt="Carreers" class="illustration float-after" /> -->
		<h3>We are looking for a software developer Zope/Plone.</h3>
		<h4>Responsibilities</h4>
		<p>Your primary responsibilities are analysis, design and implementation of software projects based on python, zope2&amp;3 and plone. You are in charge of your own projects which you supervise from acquisition to service. You will also keep contact to the community and release your projects as open source.</p>
		<h4>Profile</h4>
		<p>You have a masters degree/diploma in computer science and some years of experience in developing web applications. Knowledge of python, zope and plone is definitely a big advantage. Working in a small team incites you. You are fluent in German and English.</p>
		<h4>We offer</h4>
		<p>... an enjoyable environment - we work where it is best. At the office, at home, in the park. We use conventions only for our programming techniques. We think that a programmer thrives if he gets his flexibility. As everybody depends on each other, we have a good and productive working climate.</p>
		<h4>About Syslab.com</h4>
		<p>We create innovative solutions based on content management frameworks like zope and plone. As an alternative to commercial monolithic ECM software, we strive to tie the best components of open source software together to match the individual needs. Doing so we are not bound to any specific industry but service the general need for information management.</p>
		<h4>Interested?</h4>
		<p>Then do not hesitate to send your application by e-mail to <a title="external-link" href="mailto:info@syslab.com">info@syslab.com</a>.</p>
	</div>
</section>
