// Assets
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
@import "fontello/css/fontello.css";

// Primary colours
$colour-primary: #A31E39;
$colour-secondary: #5F9EA0;
$colour-tertiary: #CCB022;
$colour-quaternary: #8C9C9A;
$colour-quinary: #BAA3C9;
$colour-senary: #D6A9D0;
$colour-septanary: #efefef;
$colour-senary: #efefef;
$colour-octanary: #efefef;
$colour-nonary: #efefef;
$colour-denary: #efefef;

// Functional colours
$colour-alert: red;

// Responsive font-size: 
$tablet:768px;

// libraries
@import "libraries/animate";
@import "libraries/mixins";
@import "libraries/reset";

// patterns
@import "libraries/patterns/checklist";
@import "libraries/patterns/grid";
@import "libraries/patterns/form";
@import "libraries/patterns/injection";

// components
@import "components/anchor";
@import "components/article-listing";
@import "components/body";
@import "components/footer-links";
@import "components/global-nav";
@import "components/header";
@import "components/html";
@import "components/icon";
@import "components/image";
@import "components/lid-opener";
@import "components/link-list";
@import "components/list";
@import "components/logo";
@import "components/logo-cloud";
@import "components/paragraph";
@import "components/people-cloud";
@import "components/section";
@import "components/stacks";
@import "components/tabs";


// Alex tryout
@import "custom";
