// Assets
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,500,700);
@import "fontello/css/fontello.css";
@import "mixins";

$break-small: 768px;
$break-medium: 1024px;
$break-large: 1280px;

// Primary colours
$colour-primary: #A31E39;
$colour-secondary: #5F9EA0;
$colour-tertiary: #CCB022;
$colour-quaternary: #8C9C9A;
$colour-quinary: #BAA3C9;
$colour-senary: #D6A9D0;
$colour-septanary: #efefef;
$colour-senary: #efefef;
$colour-octanary: #efefef;
$colour-nonary: #efefef;
$colour-denary: #efefef;

// Functional colours
$colour-alert: red;

// Responsive font-size: 
$tablet:768px;

// libraries
@import "libraries/animate";
@import "libraries/mixins";
@import "libraries/reset";
@import "libraries/patterns/patterns";

// components
@import "components/_anchor";
@import "components/_article-listing";
@import "components/_body";
@import "components/_button";
@import "components/_container";
@import "components/_footer-links";
@import "components/_form";
@import "components/_global-nav";
@import "components/_header";
@import "components/_html";
@import "components/_icon";
@import "components/_image";
@import "components/_lid-opener";
@import "components/_link-list";
@import "components/_list";
@import "components/_logo";
@import "components/_logo-cloud";
@import "components/_main";
@import "components/_modal";
@import "components/_paragraph";
@import "components/_people-cloud";
@import "components/_rich";
@import "components/_section";
@import "components/_subnav";
@import "components/_showcase";
@import "components/_stacks";
@import "components/_tabs";


// Alex tryout
@import "custom";
