---
layout: shell
template: sub-page showcase
---

{% include global-nav.html %}

<section>
	<div class="container">
		<h1>{{page.title}}</h1>
		{% if page.summary %}
		    <p>
		    	{{ page.summary }}
		    </p>
		{% endif %}

		{% for subitem in page.images %}
			<img src="/media/showcases/{{ subitem.file }}" alt="{{subitem.name}}" />
		{% endfor %}	
	</div>
</section>

{% if page.content %}
	<section id="main-content">
		<div class="container">
			{{ content }}
		</div>
	</section>
{% endif %}